/*Color Palette
    Light Pink - #FFE8EE
    Medium Pink - #F19C98
    Dark Pink - #F37068
    Light Blue - #AAD5DC
    Medium Blue - #035E79
    Dark Blue - #3C3951
*/

* {
  margin: 0;
}

.app-boundary{
    background-color: #ffe8ee;
    margin: 10px;
    border-radius: 10px;
}
.header{
    display: flex;
    justify-content: center;
    margin: 20px 10px;
   column-gap: 50px;
}

#cocktail-graphic{
    width: 100px;
    height: 100px;
}

#title{
    font-weight: bolder;
    font-size: 100px;
    font-family:monospace;
    color: #035e79;
    text-shadow: 5px 5px #aad5dc;
}

.drink-card{
    background-color: #f19c98;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh auto;
}