/*Color Palette
    Light Pink - #FFE8EE
    Medium Pink - #F19C98
    Dark Pink - #F37068
    Light Blue - #AAD5DC
    Medium Blue - #035E79
    Dark Blue - #3C3951
*/

* {
  margin: 0;
}

.app-boundary{
    background-color: #ffe8ee;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    column-gap: 50px;
}

#cocktail-graphic{
    width: 100px;
    height: 100px;
}

#title{
    font-weight: bolder;
    font-size: 100px;
    font-family:monospace;
    color: #035e79;
    text-shadow: 5px 5px #aad5dc;
}

.drink-card{
    background-color: #f19c98;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 5px #3c3951;
}

.drink-image{
    width: 18vw;
    height: 20vh;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #3c3951;
}

.drink-name{
    background-color: #F37068;
    margin: auto 10px;
     border-radius: 5px;
}

.ingredients{
    background-color: #F37068;
    margin: auto 10px;
    border-radius: 5px;
}

.drink-choices{
    background-color: #F37068;
    width: 60vw;
    height: 15vh;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #3c3951;
}

.choice-title{
    background-color: #f19c98;
    text-align: center;
    color:#035e79;
    width: 20vw;
    margin: 5px auto;
    border-radius: 5px;

}